<%= render 'chapters/chapter' %>
    
 <div class="col-sm-9">
      	<h4><small>RECENT POSTS</small></h4>
      <hr>
      <h3><%= @discussion.title %></h3>
      <h5><span class="glyphicon glyphicon-time"></span> Post by <%= @discussion.started_by %>, <%= @discussion.created_at %></h5><br>
  
      <br><p><%= @discussion.comment%></p>
      <hr>

      <h4>Leave a Comment:</h4>
	  <%= form_tag '/replies/create' do %>
  		<p>
    		<%= text_area_tag 'reply[body]' %>
  		</p>
	  <%= submit_tag("Reply") %>


	<p><span class="badge"></span> Comments:</p><br>

	<% @replies.each do |rep| %>


      <div class="row">
        <div class="col-sm-10">
          <h4><%= rep.commenter %> <small><%= rep.created_at %> </small></h4>
          <p><%= rep.body %> </p>
          <br>
        </div>
      </div>

<% end %>
<%end %>