<h1>Admin</h1>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
       <th scope="col">Last Name</th>
     
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
<% @users.each do |user| %>
<% if user.role == 'admin' %>
  <tbody>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
   
      <td><%= link_to 'Edit', edit_user_path(user, school_id: params[:school_id]), style: 'color:#FFFFFF;', class: 'css_class' %></td>
  <td><%= link_to 'Destroy', user_path(user, school_id: params[:school_id]), style: 'color:#FFFFFF;', class: 'css_class',
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td></tr>
  </tbody>
 <% end %>
  <% end %>
</table><br>
<br><h1>Teachers</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
       <th scope="col">Last Name</th>
   
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
<% @users.each do |user| %>
<% if user.role == 'teacher' %>
  <tbody>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
   
      <td><%= link_to 'Edit', edit_user_path(user, school_id: params[:school_id]), style: 'color:#FFFFFF;', class: 'css_class' %></td>
  <td><%= link_to 'Destroy', user_path(user, school_id: params[:school_id]), style: 'color:#FFFFFF;', class: 'css_class',
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td></tr>
  </tbody>
 <% end %>
  <% end %>
</table><br>
<br><h1>Students</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">First Name</th>
       <th scope="col">Last Name</th>
    
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
<% @users.each do |user| %>
<% if user.role == 'student' %>
  <tbody>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
  
      <td><%= link_to 'Edit', edit_user_path(user, school_id: params[:school_id]), style: 'color:#FFFFFF;', class: 'css_class'  %></td>
  <td><%= link_to 'Destroy', user_path(user, school_id: params[:school_id]), style: 'color:#FFFFFF;', class: 'css_class',
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td></tr>
  </tbody>
 <% end %>
  <% end %>
</table><br>

