<h1>New User</h1>

<%= form_tag '/users/create_user', method: :post do %>
 
  <p>
    <%= label_tag :first_name %><br>
    <%= text_field_tag 'user[first_name]' %>
  </p>
  <p>
    <%= label_tag :last_name %><br>
    <%= text_field_tag 'user[last_name]' %>
  </p>
  <p>
    <%= label_tag :user_email %><br>
    <%= text_field_tag 'user[email]' %>
  </p>
 
   <p>
    <%= label_tag :user_role %><br>
    <%= text_field_tag 'user[role]' %>
  </p>
    <p>
    <%= label_tag :password %><br>
    <%= text_field_tag 'user[password]' %>
  </p>

<%= submit_tag("Create") %>
<% end %>
<%= link_to 'Back', users_path %>