<h1>Edit school</h1>
 
<%= form_with(model: @school, local: true) do |form| %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
 
 <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>

  <p>
    <%= form.label :telephone %><br>
    <%= form.text_field :telephone %>
  </p>
 <div class="field">
<%= form.label "Enable student enrollment" %>
<%= form.check_box :send_text, {}, true, false %>
<br/>
</div>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
