<h1>New School</h1>

<%= form_tag '/schools/create' do %>
  <p>
    <%= label_tag :school_title %><br>
    <%= text_field_tag 'school[title]' %>
  </p>
 
   <p>
    <%= label_tag :admin_email %><br>
    <%= text_field_tag 'user[email]' %>
  </p>
    <p>
    <%= label_tag :password %><br>
    <%= text_field_tag 'user[password]' %>
  </p>
<%= submit_tag("Create") %>
<% end %>