<h1 >Listing courses</h1>
 
<% if current_user.role == 'student'%>

<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
    </tr>
  </thead>
<% @courses_student.each do |course| %>
  <tbody>
    <tr>
      <td><%= link_to course.title, course_path(course) ,style: 'color:#FFFFFF;', class: 'css_class'%></td>
    </tr>
  </tbody>
  <% end %>
</table>


<%else if current_user.role == 'admin' %>

<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <% @course_teacher.each do |course| %>
  <tbody>
    <tr>
      <td><%= link_to course.title, course_path(course) ,style: 'color:#FFFFFF;', class: 'css_class'%></td>
      <td><%= link_to 'Edit', edit_course_path(course, course_id: course.id), style: 'color:#FFFFFF;', class: 'css_class' %></td>
      <td></td>
      <td><%= link_to 'Enroll student', add_student_course_courses_path(course, course_id: course.id), style: 'color:#FFFFFF;', class: 'css_class' %></td>
      <td><%= link_to 'Destroy', course_path(course, school_id: params[:school_id]), style: 'color:#FFFFFF;', class: 'css_class',
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  <% end %>

  <% @courses_not.each do |course| %>
  <tbody>
    <tr>
      <td><%= link_to course.title, course_path(course.id), style: 'color:#FFFFFF;', class: 'css_class' %></td>
          <td><%= link_to 'Edit', edit_course_path(course, course_id: course.id), style: 'color:#FFFFFF;', class: 'css_class' %></td>
      <td><%= link_to 'Join', add_teacher_courses_path(course),style: 'color:#FFFFFF;', class: 'css_class' %></td>
      <td><%= link_to 'Enroll student', add_student_course_courses_path(course, course_id: course.id), style: 'color:#FFFFFF;', class: 'css_class' %></td>
  <td><%= link_to 'Destroy', course_path(course, school_id: params[:school_id]), style: 'color:#FFFFFF;', class: 'css_class',
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<%else%>

<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

<% @course_teacher.each do |course| %>
  <tbody>
    <tr>
      <td><%= link_to course.title, course_path(course.id), style: 'color:#FFFFFF;', class: 'css_class' %></td>
          <td><%= link_to 'Edit', edit_course_path(course, course_id: course.id), style: 'color:#FFFFFF;', class: 'css_class' %></td>
      <td><%= link_to 'Enroll student', add_student_course_courses_path(course, course_id: course.id), style: 'color:#FFFFFF;', class: 'css_class' %></td>
   <% if course == @course_own %>   
  <td><%= link_to 'Destroy', course_path(course), style: 'color:#FFFFFF;', class: 'css_class',
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    <%end%>
    </tr>
  </tbody>
  <% end %>

<% @courses_not.each do |course| %>
  <tbody>
    <tr>
      <td><%= course.title %></td>
         <td><%= link_to 'Join', add_teacher_courses_path(course),style: 'color:#FFFFFF;', class: 'css_class' %></td> 
    </tr>
  </tbody>
  <% end %>


</table>
<% end -%>
<% end -%>

