<h1>New Course</h1>
<%= form_tag '/courses/create_course' do %>

  <p>
    <%= label_tag :course_title %><br>
    <%= text_field_tag 'course[title]' %>
  </p>

 <%if @school.enable_enroll == true %>
  <p>
    <%= label_tag :enrollment_key %><br>
    <%= text_field_tag 'course[enrollment_key]' %>
  </p>
<%end%>

  <p>
    <%= label_tag :description %><br>
    <%= text_field_tag 'course[description]' %>
  </p>

<%= submit_tag("Create") %>
<% end %>