<%= render 'chapters/chapter' %>
 <div class="col-sm-9">
   <h4><small><%=@chapter.title %></small></h4>
      <hr><p>
  	<%= @chapter.body %></p>
<br><br><br>

<h5> RESOURCE FILE PDF</h5><br>
  <h4><small>Assignments</small></h4>
      <hr><p>

<% @assignments.each do |assig| %>
	<ul class="list-group"> 
        <dt><li class="list-group-item-active"><%= link_to assig.title, course_chapter_assignment_path( course_id: @course.id,chapter_id: @chapter.id,id: assig.id), style: 'color:#FFFFFF;', class: 'css_class'%></li></dt>
    </ul>
 <% end %><br>

 <% if current_user.role != 'student' %>

    <button type="button" class="btn btn-outline-light"><%= link_to 'Add assignment', new_course_chapter_assignment_path(course_id: @course.id, chapter_id: @chapter.id), style: 'color:#FFFFFF;', class: 'css_class' %></button>
<%end%>